-
    var fighter = [
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Победа',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Победа',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Поражение',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Победа',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Победа',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Победа',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Поражение',
            system: 'Сабмишен',
            time: '03:33(2)',
        },
        {
            date: '17.04.2021',
            tournament: 'Горилла ММА Серия 30',
            opponent: 'Амиров Рамазан',
            result: 'Победа',
            system: 'Сабмишен',
            time: '03:33(2)',
        },

    ]
.fighter-list
    each item in fighter
        .f-item.f-item__fighter--size
            .f-item__date !{item.date}
            .f-item__tournament !{item.tournament}
            .f-item__opponent !{item.opponent}
            .f-item__result !{item.result}
            .f-item__system !{item.system}
            .f-item__time !{item.time}